//@import '';

html, body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.vignette{
	background-image: -webkit-radial-gradient(50% 50%, ellipse, rgba(0,0,0,0) 25%, rgba(0,0,0,0.5) 100%);
	background-image: radial-gradient(50% 50%, ellipse, rgba(0,0,0,0) 25%, rgba(0,0,0,0.5) 100%);
}

.overlay{
	pointer-events: none;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

#container{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

.views{
	transition: 0.5s ease all;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	.view{
		background-size: 100px;
		transition: 0.75s ease all;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: scale(0.8);
		text-align: center;
		.container{
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			img{
				margin-bottom: 25px;
			}
			h1{
				transition: 1s ease all;
				letter-spacing: -2px;
				color: white;
				font-size: 18px;
			}
			p{
				transition: 1s ease all;
				letter-spacing: -2px;
				color: white;
				font-size: 14px;
			}
		}
		
		&.active{
			opacity: 1;
			transform: scale(1);
			h1, p{
				letter-spacing: 1px;
			}
		}
	}
}

.non-member{
	
	//background-color: #ddd;
	//opacity: 0.5;

	h1{
		color: white;
	}
	
	p{
		color: white;
	}

}

.member{
		
	//background-color: #f0f;
	//opacity: 0.5;

	h1{
		color: white;
	}

	p{
		color: white;
	}

}

.vip{
	
	//background-color: #222;
	//opacity: 0.5;

	h1{
		color: white;
	}

	p{
		color: white;
	}

}