html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vignette {
  background-image: -webkit-radial-gradient(50% 50%, ellipse, transparent 25%, rgba(0, 0, 0, 0.5) 100%);
  background-image: radial-gradient(50% 50%, ellipse, transparent 25%, rgba(0, 0, 0, 0.5) 100%);
}

.overlay {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.views {
  transition: 0.5s ease all;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.views .view {
  background-size: 100px;
  transition: 0.75s ease all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.8);
  text-align: center;
}

.views .view .container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.views .view .container img {
  margin-bottom: 25px;
}

.views .view .container h1 {
  transition: 1s ease all;
  letter-spacing: -2px;
  color: white;
  font-size: 18px;
}

.views .view .container p {
  transition: 1s ease all;
  letter-spacing: -2px;
  color: white;
  font-size: 14px;
}

.views .view.active {
  opacity: 1;
  transform: scale(1);
}

.views .view.active h1, .views .view.active p {
  letter-spacing: 1px;
}

.non-member h1 {
  color: white;
}

.non-member p {
  color: white;
}

.member h1 {
  color: white;
}

.member p {
  color: white;
}

.vip h1 {
  color: white;
}

.vip p {
  color: white;
}
